.box1
{
    background-color: #8fbc8f;
    min-width: fit-content;
    min-height: 0px;
}
body
{
    margin: 0;
}
.logo
{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 30px;
}
.box1
{
    display: flex;
    
}
/*.item
{
    padding-top: 50px;
    padding-left: 60rem;
    font-size: 25px;
}*/
.login
{
    padding-top: 50px;
    padding-left: 65rem;
    font-size: 25px;
}
.signup
{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 25px;
}
